body {
    background-color: #2e2e45;
}

.container {
    background-color: #2d2f38;

    display: flex;
    margin: 40px auto;
    position: relative;
    top: 140px;
    height: 19vh;
    width: 47vh;
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(14, 21, 37, 0.7);
}

.time {
    display: flex;
    position: relative;
    left: 111px;
    padding-top: 25px;
}
.hour{
    font-size: 70px;
    font-weight: 500;
    color: antiquewhite;
}

.colon{
    margin-top: 5px;
    margin-left: 3px;
    font-size: 35px;
    font-weight: 500;
    color: whitesmoke;

}

.minute{
    margin-top: 4px;
    font-size: 47px;
    font-weight: 500;
    color: antiquewhite;
    margin-left: 5px;

}

.zone{
    position: relative;
    margin-top: 47px;
    right: 25px;
    color: antiquewhite;

}